# Activer le moteur de réécriture
RewriteEngine On
RewriteBase /

# Si le fichier ou dossier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tout renvoyer vers index.html
RewriteRule ^.*$ /index.html [L]