RewriteEngine On
RewriteBase /

# If the requested file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite to /pages/thepage.html
RewriteRule ^([a-zA-Z0-9_-]+)$ pages/$1.html [L]

