@import url('styles/base.css');

@import url('styles/header/navigation.css');
/* @import url('styles/header/contact.css'); */

@import url('styles/sections/section.css');
@import url('styles/sections/home.css');
@import url('styles/sections/projects.css');
@import url('styles/sections/about.css');
@import url('styles/sections/project.css');

@import url('styles/templates/container.css');
@import url('styles/templates/card.css');
@import url('styles/templates/tag.css');

@import url('styles/responsive.css');
@import url('styles/loading.css')