/* =========
   Contact
============ */

#contact{
    margin-top: 10px;
    z-index: 9;
    position: fixed;
    right: 20px;
}

#contact ul{
    align-items: center;
    display: flex;
    gap: 15px;
    list-style: none;
}

#contact ul li{ 
    display: flex;
    align-items: center;
}

#contact a{ 
    display: flex;
    align-items: center;
    align-items: center;
}

#btn{
    margin: 0;
    padding: 8px 20px;    
    
    border: none;
    cursor: pointer;

    font-size: 1rem;
    border-radius: 10px;

    color: var(--background-color);
    background-color: var(--primary-color);
    border: 2px, solid, var(--primary-color);
    
    text-decoration: none;

    transition: background 0.2s ease;
}

#btn:hover{
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 2px, solid, var(--primary-color);
}

#contact ul img{
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(17%) sepia(3%) saturate(559%) hue-rotate(202deg) brightness(101%) contrast(91%);
}
