/* ============
   Navigation
=============== */

nav{
    z-index: 5;

    width: 100%;
    padding: 17px 0;

    position: fixed;

    border-bottom: 1px solid var(--primary-color);

    background-color: var(--background-color);
}

nav ul{
    display: flex;
    justify-content: center;
    
    list-style: none;

    gap: 6vw;
}


nav ul a{
    text-decoration: none;
    cursor: pointer;

    font-size: 1.3rem;
    font-weight: 550;

    color: var(--primary-color);
}

nav ul a:hover{
    color: var(--secondary-color);
}