/* =============
  Home Section
================ */

#home h1{
    margin-top: 25px;

    line-height: 6.5rem;
}

#home h2{
    margin-top: 80px;

    color: var(--primary-color);
}

#home p{
    margin: 0px auto;
    margin-top: 80px;

    max-width: 800px;

    font-size: 1.2rem;
}

#scroll-btn{
    margin-top: 50px;
    padding: 8px 20px;    
    
    border: none;
    cursor: pointer;

    font-size: 1rem;
    border-radius: 10px;

    color: var(--background-color);
    background-color: var(--secondary-color);
    border: 2px, solid, var(--secondary-color);

    transition: background 0.2s ease;
}

#scroll-btn:hover{
    color: var(--secondary-color);
    background-color: var(--background-color);
    border: 2px, solid, var(--secondary-color);
}