/* ========
  Section
=========== */

section{
    padding-top: 65px;
    text-align: center;
}

section h1{
    font-size: 6rem;
    font-family: var(--primary-font);

    color: var(--secondary-color);
}

section h2{
    margin-top: 30px;

    font-size: 4rem;
    font-family: var(--primary-font);

    color: var(--secondary-color);
}