/* ================
   Loading Screen
=================== */

#loading-screen{
    width: 100%;
    height: 100%;

    position: fixed;

    background-color: var(--background-color);

    z-index: 10;
}

#progress-bar{
    width: 150px;
    height: 3px;

    top: 50%;
    left: 50%;
    
    position: absolute;

    border-radius: 7px;

    background-color: rgba(236, 236, 238, 0.253);

    transform: translate(-50%, -50%);
}

#progress{
    width: 1px;
    height: 3px;

    border-radius: 7px;

    background-color: var(--primary-color);
}