/* ============
   Responsive
=============== */

@media (max-width: 1130px){
    .project-resume{
        flex-direction: column;
    }

    .project-resume video{
        border-radius: 5px 5px 0px 0px;
    }
}

@media (max-width: 950px) {
    #contact{
        display: flex;
        width: 100%;
        justify-content: center;
        bottom: 20px;
        right: auto;
        justify-content: center;


    }

    #contact ul{
        justify-content: center;

        background-color: var(--background-color);
        padding: 10px 20px;
        border: 2px solid var(--primary-color);
        border-radius: 5px;
    }

    #project{
        margin-bottom: 100px;
    }

    section{
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    section h1{
        font-size: 3.5rem;
    }

    section h2{
        font-size: 2.5rem;
    }

    #home p{
        font-size: 0.9rem;
    }

    #scroll-btn{
        font-size: 0.9rem;
    }

    .container{
        grid-template-columns: repeat(1, 1fr);
    }

    .project-resume{
        flex-direction: column;
    }
}

@media (max-width: 411px){
    section h1{
        font-size: 3rem;
    }
}

@media (max-width: 350px){
    section h1{
        font-size: 2.5rem;
    }

    section h2{
        font-size: 2rem;
    }
}